*{
  font-family: "Source Sans Pro", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}




/*
---------------------------------
MAP AND CITY LISTING
---------------------------------
*/

#map {
  position: fixed;
  width: 100%;
  height: 100%;
}
body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.citiescontainer {
  background-color: white;
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  width: 30%;
  overflow: auto;
}
.x {
  position: absolute;
  top: 10px;
  right: 10px;
}

.citylabel {
  text-align:center;
  position: sticky;
}

.cityname {
  text-align:center;
}

.city-card {
  width: 70%;
  height: 15%;
  border: 1px solid black;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .citiescontainer {
    width: 50%;
  }
}

@media (max-width: 300px) {
  .citiescontainer {
    width: 100%;
  }
}

/*
---------------------------------
LIGHT/DARK BOXES FOR CITY DETAIL
---------------------------------
*/

.add-city-title{
  text-align:center;
}

.darken-detail {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display:none;
}


.city-detail-container {
  z-index: 4;
  background-color: white;
  width: 80%;
  height: 800px;
  margin: 65px auto;
  padding: 3%;
  box-sizing: border-box;
  max-width: 600px;
  position: relative;
  text-align: center;
  overflow: auto;
}

.x {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 300px) {
  .white-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

/*
---------------------------------
LIGHT/DARK BOXES FOR ADD CITY PAGES
---------------------------------
*/
.darken-add-city {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display:none;
}


.add-city-container{
  z-index: 4;
  background-color: white;
  width: 80%;
  height: 800px;
  margin: 50px auto;
  padding:3%;
  box-sizing: border-box;
  max-width: 600px;
  position: relative;
  overflow: auto;
}

input[type=text],[type=date], [type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=checkbox]{
  
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/*
---------------------------------
CITY DETAIL PAGES
---------------------------------
*/

.detailimg {
  width: 100%;
  height: auto;
}

.tag-list {
  display: flex;
  list-style-type: none;
}

.tags {
  margin-left: 10px;
}


/* NAV STYLING BETTER WAY */

/* Nav bar container*/
.topnav {
  background-color: #241b1f;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  left: 0px;
  height:55px;
}
	
.nav-ul {
    display: flex;
    list-style-type:none;
  }
  
.navitem {
  color: white;
  font-weight: 300;
  padding:15px;
  font-size: 1.1em;
  text-decoration: none;
}
  
.logo{
  height:30px;
  width:auto;
}

	.nav-li {
    flex-basis: 100px;
    text-align:center;
	}
	
	a {
		padding: .5em;	
	}
	
	.nav-li:first-child,
  .nav-li:nth-child(n + 5) {
		order: 3;
	}
	
	.nav-li:nth-child(n + 5) {
		text-align: right;
	}

	/* margin auto center aligns logo */
	.nav-li:first-child {
		margin-left: auto;
		margin-right: auto;
    flex-basis: auto;
	}



  /* Add new city  */
	.nav-li:last-child {
		margin-right:20px;
  }

/* Nav hover */
.topnav .navitem:hover {
  font-weight:500;
}

/* ADD CITY BUTTON */

.create-city-button{
  background-color:white;
  color:black;
  border:none;
  height:30px;
}

