*{
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #274251;
  box-sizing: border-box;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background: url(/images/background.jpg) no-repeat;
 
}

/*
---------------------------------
NAV STYLING
---------------------------------
*/

/* Nav bar */
.topnav {
  position: fixed;
  top: 0;
  height:60px;
  width: 100%;
  overflow: hidden;
  background-color: #241b1f10;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topnav.scrolling {
  background-color:#241b1f;
  color:white;
}

/* Style the button surrounding the links */

.navitem {
  color: white;
  margin-left: 30px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 300;
}

#dashboard {
  float: left;
}

/* Nav hover */
.topnav .navitem:hover {
  font-weight: 600;
}

/*
---------------------------------
BRANDING AND SUBTITLE STYLING
---------------------------------
*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* Position name and logo */
.logoContainer {
  height: 400px;
  width: auto;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

/* Format name and logo */
.centered {
  display: block;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.subtitlecontainer {
  margin-top: 3%;
  display: block;
  margin: auto;
  height: auto;
}

#subtitle {
  font-size: 1.6em;
  color: white;
  text-align: center;
}

.buttoncontainer {
  margin-top: 3%;
  display: block;
  text-align: center;
}

.bodybutton {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  background-color: #241b1f;
  border:1px white solid;
  border-radius:50px;
  cursor: pointer;
  margin: 10px;
}

/* Button hover */
.bodybutton:hover {
  background-color: white;
  color: black;
}

/*
---------------------------------
PITCH STYLING
---------------------------------
*/

.main-container {
  width: 100%;
  margin-top: 40px;
  background-color: white;
}

.descriptcontainer {
  min-height: 200px;
  padding: 50px 20% 0 20%;
}

.description-img {
  width: 20%;
  margin: auto;
  height: auto;
}

.description-text {
  width: 60%;
  font-size: 1.8em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*
---------------------------------
FOOTER
---------------------------------
*/

footer {
  height: 70px;
  color: white;
  background-color:#241b1f;
  text-align: center;
  padding-top:40px;
}

.last {
  padding-bottom: 100px;
}

/* MOBILE */
@media (max-width: 450px) {
  .description-text {
    width: 70%;
    font-size: 1em;
    font-weight: 300;
    padding-top: 0;
    margin-top: 0;
  }


.logoContainer {
  height: 400px;
  width: auto;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

.centered {
  display: block;
  height: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.bodybutton {
  height: 50px;
  width: 150px;
  font-size: 1em;
  border-radius:50px;
  cursor: pointer;
  margin: 10px;
}

}

/* TABLET */
@media (max-width: 800px) {
  .description-text {
    width: 70%;
    font-size: 1.4em;
  }
}