*{
  font-family: "Source Sans Pro", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .signup-link{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }
  
  .error-message{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-bottom:10px;
  }

  /* FORM STYLING */
h1{
  text-align:center;
}

.form-container {
  margin-top:100px;
  border-radius: 5px;
  padding: 20px;
  width:30%;
  margin-left:auto;
  margin-right:auto;
}

input[type=text],[type=password], [type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #241b1f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

input[type=submit]:hover {
  background-color: #241b1fc5;
}


/* DEMO BUTTON */
.demo-account-button{
  display: block; margin: 0 auto;
  margin-bottom:10px;
  height:40px;
  width:120px;
  border-radius:4px;
  background-color:lightgrey;
}

.demo-account-button:hover{
  cursor:pointer;
  background-color:white;
}


/* NAV STYLING BETTER WAY */

/* Nav bar container*/
.topnav {
  background-color: #241b1f;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  left: 0px;
  height:60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
	
.nav-ul {
    display: flex;
    list-style-type:none;
  }
  
.navitem {
  color: white;
  font-weight: 300;
  padding:15px;
  font-size: 1.1em;
  text-decoration: none;
}
  
.logo{
  height:30px;
  width:auto;
}

	.nav-li {
    flex-basis: 100px;
    text-align:center;
	}
	
	a {
		padding: .5em;	
	}
	
	/*.nav-li:first-child,
  .nav-li:nth-child(n + 5) {
		order: 3;
	}
	
	.nav-li:nth-child(n + 5) {
		text-align: right;
	}*/

	/* margin auto center aligns logo */
	.nav-li:first-child {
		margin-left: auto;
		margin-right: auto;
    flex-basis: auto;
	}



/* Nav hover */
.topnav .navitem:hover {
  font-weight:600;
}

/* MOBILE */
@media (max-width: 600px) {
  .form-container {
    width:60%;
    margin-top:50px;
  }
}