*{
  font-family: "Source Sans Pro", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  

  /* FORM STYLING */
h1{
  text-align:center;
}

.form-container {
  margin-top:100px;
  border-radius: 5px;
  padding: 20px;
  width:30%;
  margin-left:auto;
  margin-right:auto;
}

input[type=text],[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block;

}

input[type=submit]:hover {
  background-color: #45a049;
}


/*
---------------------------------
NAV STYLING
---------------------------------
*/

/* Nav bar */
.topnav {
  background-color: #241b1f;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  left: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navitem {
  color: white;
  margin-left: 30px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 300;
}

/* Nav hover */
.topnav .navitem:hover {
  font-size: 1.4em;
}